.category{
    margin-bottom: 30px;
    ul{
        .grid(4,2,10px);
        align-items: start;
        padding: 0 20px; 
        p{
            .desc-primary ;
            color: @color-black;
        }    
    }
}

