footer {
    background: #F4F4F4;
    position: relative;
}

.footer-top {
    .container;
    background: @color-secondary;
    border-radius: 20px;
    padding-top: 20px;
    margin: 0 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    .flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: -16%;

    .footer-top__title {
        display: none;
    }

    .footer-top__social {
        .flex;

        li {
            padding-left: 10px;
        }
    }

    .footer-form {
        display: block;
    }

    .footer-form {
        input {
            .input-secondary;
        }

        button {
            .btn-secondary;
        }
    }

}

.footer-middle {
    text-align: center;
    .container;

    .footer-title {
        padding-top: 100px;
        color: @color-primary;
        font-style: italic;
        font-weight: 800;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;

        i {
            font-weight: 600;
            display: block;
            font-weight: @font-weight__semibold;
        }
    }

    .footer-address {
        text-align: left;
    }

    .footer-info {

        .footer-address {
            .desc-primary;

            :hover {
                color: unset;
            }

            display: inline-block;
        }

        .footer-app {
            .flex;
            align-items: flex-end;
            justify-content: flex-start;
            margin-bottom: 20px;
            margin-top: 5px;

            .footer-app__qr {
                margin-right: 10px;
            }

            .footer-app__moblie {
                display: inline-grid;
                margin-right: 20px;
            }
        }
    }
}

.footer-bottom {
    .container;
    padding-bottom: 150px;
    border-top: 1px solid #9A9A9C;
    padding-top: 21.5px;

    ul {
        .flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    li {
        border-right: 0.5px solid #9A9A9C;
        padding: 0 10px;
        margin-bottom: 10px;

    }

    li:first-child,
    li:nth-child(5) {
        padding-left: 0;
    }

    li:last-child {
        border: none;
    }

    a,
    span {
        .desc-primary;
    }
}

// responsive max width 400px


@media only screen and (max-width: 400px) {
    footer {
        .footer-top {
            top: -10%;
        }

        .footer-title {
            margin-top: 10px;
        }

        .footer-middle {
            padding-top: 1px;
        }

        .footer-bottom {
            padding: ̀50px;

            ul {
                .grid(2, 2, 0px);
                text-align: left;
                column-gap: 40px;
            }

            li {
                padding: 0;
                border: none;
            }
        }

        .logo,
        .footer-top__social {
            max-width: 100px;
        }

        .footer-form {
            input {
                max-width: 100px;
            }

            button {
                padding: 10px !important;
                font-size: 10px !important;
            }
        }
    }
}


// responsive 768px

@media only screen and (min-width: 768px) {
    footer {
        .footer-info {
            .flex;
            flex-wrap: wrap;

            p {
                .desc-secondary-desktop;

                &:hover {
                    color: inherit;
                }
            }
        }

        .footer-address {
            padding-right: 20px;
        }

        .footer-top {
            top: -10%;
            left: 0;
            right: 0;
            padding-top: 0;
        }

        .footer-top__social {
            margin-right: 10px;
        }

        .logo {
            display: flex;
        }

        .footer-middle .footer-title {
            padding-top: 50px;
        }

        .footer-bottom {
            li:nth-child(5) {
                padding-left: 10px;
            }

            a,
            span {
                .desc-secondary;
            }
        }
    }
}

// responsive 1024px (table)

@media only screen and (min-width: 1024px) {
    .footer-title {
        margin-top: 40px;
        padding-top: 90px;
    }

}

//reponsive 1280px(desktop)

@media only screen and (min-width: 1280px) {
    footer {
        .footer-middle {
            .container;

            .footer-title {
                font-weight: 800;
                font-size: 18px;
                font-style: italic;
                line-height: 21.94px;
                padding-top: 120px;
            }
        }

        .footer-info {
            .container;
            .flex;
            padding: 0;
            .footer-app {
                .footer-app__moblie {
                    order: 2;
                } 
                li {
                    margin-left: 10px;
                    margin-right: 0;
                }
                .footer-app__moblie{
                    margin-right: 0;
                }
            }
        }

        .footer-top {
            max-width: 1000px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            justify-content: space-around;
            padding: 20px 0;

            .footer-top__social {
                order: 3;
                margin-right: 0;
            }

            .footer-top__title {
                display: block;
                order: 0;

                h2 {
                    font-size: 18px;
                    font-weight: @font-weight-heading;
                    color: @color-primary;
                    line-height: 21.94px;
                    margin-bottom: 5px;
                }

                span {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17.07px;
                }
            }
        } 

        .footer-bottom {
            .flex;
            .container;
            padding: 10px;
        } 

        .footer-address p {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
        }
    }
}