.services {
    background: #F4F4F4;
    text-align: center;

    .services__inner {
        .container;
    }

    h2 {
        .heading-mobile;
        display: inline-block;
        padding-bottom: 10px;
        margin-top: 30px;
        margin-bottom: 0;
        text-transform: uppercase;

    }

    .services__detail {
        .btn-secondary();
    }

    .services__list {
        margin-top: 25px;
    }

    p {
        .desc-primary;
        margin-top: 0;
        padding: 0 15px;
    }
}

@media only screen and (min-width: 1280px) {
   

    .services__list {
        .desc-secondary;
        p {
            .desc-secondary;
        }
    }
    .services {
        margin: auto;
        .services__inner{
          max-width: 70%;
        }
      }
    
}