.services {
    background: #F4F4F4;

    .services__inner {
        text-align: center;
        .container;
    }

    ul {
        a {
            .flex;
            justify-content: center;
            flex-direction: column;

            div {
                .flex;
                justify-content: center;
                width: 60px;
                height: 60px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                border-radius: 50%;

                &:hover {
                    background-color: @color-primary;

                    svg path {
                        fill: @color-secondary;
                    }
                }
            }

            svg {
                width: 50%;
                height: 50%;
            }
        }
    }

    h2 {
        .heading-mobile;
        display: inline-block;
        padding-bottom: 10px;
        margin-top: 30px;
        margin-bottom: 0;
        text-transform: uppercase;

    }

    .services__detail {
        .btn-secondary();
    }

    .services__list {
        margin-top: 25px;
    }

    p {
        .desc-primary;
        margin-top: 8px;
        padding: 0 5px;
    }
}

@media only screen and (min-width: 1280px) {


    .services__list {
        p {
            .desc-secondary;
            font-size: 14px;
        }
    }

    .services {
        margin: auto; 
        .services__inner {
            max-width: 70%;
        }
        h5{
            .heading-desktop;
        }

        p {
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
            padding: 0 20px;
        }

        ul {
            li a div {
                width: 80px;
                height: 80px;
            }
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }
}