// import variables
//---------------------------

@import "./Variables.less";

// import mixins
//---------------------------
@import "./Mixin.less";

//rm-attr
//---------------------------

@import "./rm-attr.less";

//generate
//----------------------------
@import "./_generate.less";

//header
//----------------------------
@import "./_header.less";

//category
//----------------------------

@import "./_category.less";

//product 
//----------------------------

@import "./_product.less";

//services
//----------------------------

@import "./_services.less";

//news
//----------------------------

@import "./_news.less";

//footer
//----------------------------

@import "./_footer.less";


//responsive 768
//---------------------------

@media screen and (min-width: 768px) {

  .category {
    text-align: center;
  }

  .footer-top__title {
    display: revert;
  }

  .footer-top {
    width: calc(99% - 10px);
    justify-content: center;
    left: 0;
    right: 0;
  }

  .footer-info {
    .flex;

    .footer-app__qr {
      order: 2;
    }

    .footer-app__moblie {
      order: 1;
    }

  }
  li{
    margin: revert;
  }
}