.input-primary {
  color: #000000;
  font-size: 12px;
  padding: 12.5px 30px 12.5px 20px;
  background: #fff;
  line-height: 14px;
  border: 1px solid #EE2E24;
  border-radius: 20px;
}
.input-secondary {
  color: #000000;
  font-size: 12px;
  padding: 12.5px 30px 12.5px 20px;
  background: #fff;
  line-height: 14px;
  border: 1px solid #E5E5E5;
  border-radius: 20px;
}
.btn-primary {
  color: #EE2E24;
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  line-height: 17px;
  border: 1px solid #EE2E24;
  padding: 11.5px 30px;
  background: #fff;
  border-radius: 20px;
  margin: auto;
  margin: 20px 0;
  text-transform: uppercase;
}
.btn-primary:hover {
  background: #EE2E24;
  color: #fff;
}
.btn-secondary {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  line-height: 17px;
  border: 1px solid #fff;
  padding: 11.5px 30px;
  background: #EE2E24;
  border-radius: 20px;
  margin: auto;
  margin: 20px 0;
  text-transform: uppercase;
}
.btn-secondary:hover {
  background: #fff;
  color: #EE2E24;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading-mobile {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
  border-bottom: 3px solid #EE2E24;
}
.desc-primary {
  font-size: 10px;
  font-weight: 500;
  color: #737B7D;
  line-height: 14px;
}
.desc-primary:hover {
  color: #EE2E24;
  font-weight: 600;
}
.desc-secondary {
  font-size: 12px;
  font-weight: 500;
  color: #737B7D;
  line-height: 18px;
}
.desc-secondary:hover {
  color: #EE2E24;
  font-weight: 600;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUPjIg1_i6t8kCHKm459WxZbgjD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_bZF7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v7/1Ptyg83HX_SGhgqO0yLcmjzUAuWexRNRwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v7/1Ptyg83HX_SGhgqO0yLcmjzUAuWexc1RwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v7/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNRwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v7/1Ptyg83HX_SGhgqO0yLcmjzUAuWexaFRwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v7/1Ptyg83HX_SGhgqO0yLcmjzUAuWexU1WwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v7/1Ptyg83HX_SGhgqO0yLcmjzUAuWexXRWwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v7/1Ptyg83HX_SGhgqO0yLcmjzUAuWexRNWwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v7/1Ptyg83HX_SGhgqO0yLcmjzUAuWexTpWwaA.ttf) format('truetype');
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
.header-mobile {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #EE2E24;
  padding: 40px 20px 7.5px 20px;
  border-bottom: 1px solid #fff;
}
.header-form {
  position: relative;
  margin: 0 12px;
}
.header-form input {
  color: #000000;
  font-size: 12px;
  padding: 12.5px 30px 12.5px 20px;
  background: #fff;
  line-height: 14px;
  border: 1px solid #EE2E24;
  border-radius: 20px;
}
.header-form button {
  background: none;
  position: absolute;
  border: none;
  right: 10px;
}
.header-action li {
  margin-right: 10px;
}
hr {
  border: 6.97px solid #F99B2A;
  background: #F99B2A;
  margin: 0;
}
.header-footer {
  flex-direction: column;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.header-footer .header-footer__top {
  display: flex;
  align-items: center;
  margin: 0 20px;
  justify-content: space-between;
}
.header-footer .header-footer__top .contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.header-footer .header-footer__bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 10px 20px 0 20px;
}
.header-footer .header-footer__bottom .header-footer__acount {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.header-footer .header-footer__bottom p {
  line-height: 9.75px;
  font-size: 8px;
  font-weight: 600;
  color: #333333;
}
.category {
  margin-bottom: 30px;
}
.category ul {
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  align-items: start;
  font-size: 10px;
  font-weight: 500;
  color: #737B7D;
  line-height: 14px;
  padding: 0 20px;
}
.category ul:hover {
  color: #EE2E24;
  font-weight: 600;
}
.product {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  text-align: center;
}
.product img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.product a {
  font-size: 12px;
  font-weight: 500;
  color: #737B7D;
  line-height: 18px;
  color: #000000;
}
.product a:hover {
  color: #EE2E24;
  font-weight: 600;
}
.product p {
  font-size: 12px;
  font-weight: 500;
  color: #737B7D;
  line-height: 18px;
  color: #EE2E24;
}
.product p:hover {
  color: #EE2E24;
  font-weight: 600;
}
.product h2 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
  border-bottom: 3px solid #EE2E24;
  display: inline-block;
  padding-bottom: 10px;
  margin: 0;
}
.product .product__detail {
  color: #EE2E24;
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  line-height: 17px;
  border: 1px solid #EE2E24;
  padding: 11.5px 30px;
  background: #fff;
  border-radius: 20px;
  margin: auto;
  margin: 20px 0;
  text-transform: uppercase;
}
.product .product__detail:hover {
  background: #EE2E24;
  color: #fff;
}
.product span {
  border-top: 0.1px solid #F99B2A;
  display: block;
}
.product .product__list {
  margin-top: 23px;
}
.product .product__list img {
  padding-top: 10px;
}
.product .product__status {
  background-color: #EE2E24;
  color: #fff;
  display: inline;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
}
.product .pre-order {
  background: #F99B2A;
}
.services {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  background: #F4F4F4;
  text-align: center;
}
.services h2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
  border-bottom: 3px solid #EE2E24;
  display: inline-block;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.services .services__detail {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  line-height: 17px;
  border: 1px solid #fff;
  padding: 11.5px 30px;
  background: #EE2E24;
  border-radius: 20px;
  margin: auto;
  margin: 20px 0;
  text-transform: uppercase;
}
.services .services__detail:hover {
  background: #fff;
  color: #EE2E24;
}
.services .services__list {
  margin-top: 25px;
}
.services p {
  font-size: 10px;
  font-weight: 500;
  color: #737B7D;
  line-height: 14px;
  margin-top: 0;
  padding: 0 15px;
}
.services p:hover {
  color: #EE2E24;
  font-weight: 600;
}
.services span {
  border-top: 0.1px solid #F99B2A;
  display: block;
}
.news {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  text-align: center;
  padding-bottom: 100px;
}
.news h2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
  border-bottom: 3px solid #EE2E24;
  display: inline-block;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.news span {
  border-top: 0.1px solid #F99B2A;
  display: block;
  margin-bottom: 20px;
}
.news .news__detail {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  line-height: 17px;
  border: 1px solid #fff;
  padding: 11.5px 30px;
  background: #EE2E24;
  border-radius: 20px;
  margin: auto;
  margin: 20px 0;
  text-transform: uppercase;
}
.news .news__detail:hover {
  background: #fff;
  color: #EE2E24;
}
.news img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
footer {
  background: #F4F4F4;
  position: relative;
}
.footer-top {
  background: #fff;
  border-radius: 20px;
  padding-top: 20px;
  margin: 0 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: -16%;
}
.footer-top .footer-top__title {
  display: none;
}
.footer-top .footer-top__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-top .footer-top__social li {
  padding-left: 10px;
}
.footer-top .footer-form {
  display: block;
}
.footer-top .footer-form input {
  color: #000000;
  font-size: 12px;
  padding: 12.5px 30px 12.5px 20px;
  background: #fff;
  line-height: 14px;
  border: 1px solid #E5E5E5;
  border-radius: 20px;
}
.footer-top .footer-form button {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  line-height: 17px;
  border: 1px solid #fff;
  padding: 11.5px 30px;
  background: #EE2E24;
  border-radius: 20px;
  margin: auto;
  margin: 20px 0;
  text-transform: uppercase;
}
.footer-top .footer-form button:hover {
  background: #fff;
  color: #EE2E24;
}
.footer-middle {
  text-align: center;
}
.footer-middle .footer-title {
  padding-top: 100px;
  color: #EE2E24;
  font-style: italic;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}
.footer-middle .footer-title i {
  display: block;
  font-weight: 600;
}
.footer-middle .footer-address {
  text-align: left;
}
.footer-middle .footer-info {
  margin: 0 20px;
}
.footer-middle .footer-info .footer-address {
  font-size: 10px;
  font-weight: 500;
  color: #737B7D;
  line-height: 14px;
  display: inline-block;
}
.footer-middle .footer-info .footer-address:hover {
  color: #EE2E24;
  font-weight: 600;
}
.footer-middle .footer-info .footer-app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-top: 5px;
}
.footer-middle .footer-info .footer-app .footer-app__qr {
  margin-right: 10px;
}
.footer-middle .footer-info .footer-app .footer-app__moblie {
  display: inline-grid;
  margin-right: 20px;
}
.footer-bottom {
  margin-bottom: 50px;
  border-top: 1px solid #9A9A9C;
  padding-top: 21.5px;
}
.footer-bottom ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.footer-bottom li {
  border-right: 0.5px solid #9A9A9C;
  margin-bottom: 18px;
}
.footer-bottom li:first-child {
  padding-left: 0;
}
.footer-bottom a,
.footer-bottom span {
  margin: 0 10px;
  font-size: 10px;
  font-weight: 500;
  color: #737B7D;
  line-height: 14px;
}
.footer-bottom a:hover,
.footer-bottom span:hover {
  color: #EE2E24;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .category {
    text-align: center;
  }
  .footer-top__title {
    display: revert;
  }
  .footer-top {
    width: calc(99% - 10px);
    justify-content: center;
    left: 0;
    right: 0;
  }
  .footer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-info .footer-app__qr {
    order: 2;
  }
  .footer-info .footer-app__moblie {
    order: 1;
  }
  li {
    margin: revert;
  }
}
