.input-primary {
  color: #000000;
  font-size: 12px;
  padding: 12.5px 30px 12.5px 20px;
  background: #fff;
  line-height: 14px;
  border: 1px solid #EE2E24;
  border-radius: 20px;
}
.input-secondary {
  color: #000000;
  font-size: 12px;
  padding: 12.5px 30px 12.5px 20px;
  background: #fff;
  line-height: 14px;
  border: 1px solid #E5E5E5;
  border-radius: 20px;
}
.btn-primary {
  color: #EE2E24;
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  line-height: 17px;
  border: 1px solid #EE2E24;
  padding: 11.5px 30px;
  background: #fff;
  border-radius: 20px;
  margin: auto;
  margin: 20px 0;
  text-transform: uppercase;
}
.btn-primary:hover {
  background: #EE2E24;
  color: #fff;
  border: 1px solid #fff;
}
.btn-secondary {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  line-height: 17px;
  border: 1px solid #fff;
  padding: 11.5px 30px;
  background: #EE2E24;
  border-radius: 20px;
  margin: auto;
  margin: 20px 0;
  text-transform: uppercase;
}
.btn-secondary:hover {
  background: #fff;
  color: #EE2E24;
  border: 1px solid #EE2E24;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading-mobile {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
  border-bottom: 3px solid #EE2E24;
}
.heading-desktop {
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  color: #000000;
  border-bottom: 3px solid #EE2E24;
}
.desc-primary {
  font-size: 10px;
  font-weight: 500;
  color: #333333;
  line-height: 14px;
}
.desc-primary:hover {
  color: #EE2E24;
  font-weight: 600;
}
.desc-secondary {
  font-size: 12px;
  font-weight: 500;
  color: #333333;
  line-height: 18px;
}
.desc-secondary:hover {
  color: #EE2E24;
  font-weight: 600;
}
.desc-primary-desktop {
  font-size: 12px;
  font-weight: 500;
  color: #333333;
  line-height: 15px;
}
.desc-primary-desktop:hover {
  color: #EE2E24;
  font-weight: 600;
}
.desc-secondary-desktop {
  font-size: 14px;
  font-weight: 600;
  color: #333333;
  line-height: 20px;
}
.desc-secondary-desktop:hover {
  color: #EE2E24;
  font-weight: 600;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUPjIg1_i6t8kCHKm459WxZbgjD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_bZF7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v7/1Ptyg83HX_SGhgqO0yLcmjzUAuWexRNRwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v7/1Ptyg83HX_SGhgqO0yLcmjzUAuWexc1RwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v7/1Ptyg83HX_SGhgqO0yLcmjzUAuWexZNRwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v7/1Ptyg83HX_SGhgqO0yLcmjzUAuWexaFRwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v7/1Ptyg83HX_SGhgqO0yLcmjzUAuWexU1WwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v7/1Ptyg83HX_SGhgqO0yLcmjzUAuWexXRWwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v7/1Ptyg83HX_SGhgqO0yLcmjzUAuWexRNWwaA.ttf) format('truetype');
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mulish/v7/1Ptyg83HX_SGhgqO0yLcmjzUAuWexTpWwaA.ttf) format('truetype');
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
.header-desktop {
  display: none;
}
.header-mobile {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #EE2E24;
  padding: 40px 20px 7.5px 20px;
  border-bottom: 1px solid #fff;
}
.header-form {
  position: relative;
  margin: 0 12px;
}
.header-form input {
  color: #000000;
  font-size: 12px;
  padding: 12.5px 30px 12.5px 20px;
  background: #fff;
  line-height: 14px;
  border: 1px solid #EE2E24;
  border-radius: 20px;
  display: block;
  width: auto;
}
.header-form button {
  background: none;
  position: absolute;
  border: none;
  right: 10px;
}
.header-action li {
  margin-right: 10px;
}
hr {
  border: 6.97px solid #F99B2A;
  background: #F99B2A;
  margin: 0;
}
.header-footer {
  flex-direction: column;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.header-footer .header-footer__top {
  display: flex;
  align-items: center;
  margin: 0 20px;
  justify-content: space-between;
}
.header-footer .header-footer__top .contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.header-footer .header-footer__bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 10px 20px 0 20px;
}
.header-footer .header-footer__bottom .header-footer__acount {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.header-footer .header-footer__bottom p {
  line-height: 9.75px;
  font-size: 8px;
  font-weight: 600;
  color: #333333;
}
@media screen and (max-width: 400px) {
  .header-form input {
    padding: 10px 0;
    padding-left: 10px;
  }
  .header-action li {
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .header-mobile input {
    width: 400px;
  }
}
@media screen and (min-width: 1024px) {
  .header-mobile,
  .header-footer {
    display: none;
  }
  header {
    background: #EE2E24;
    position: relative;
    z-index: 0;
  }
  header .line {
    position: absolute;
    border-top: 6px solid #F99B2A;
    border-bottom: 6px solid #F99B2A;
    bottom: 0px;
    z-index: -1000;
    width: 100%;
  }
  header .header-form {
    margin: 0;
  }
  header .header-desktop {
    background: #fff;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  header .header-desktop .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .header-desktop p {
    font-size: 10px;
    font-weight: 500;
    color: #333333;
    line-height: 14px;
    margin: 0;
  }
  header .header-desktop p:hover {
    color: #EE2E24;
    font-weight: 600;
  }
  header .header-desktop input {
    color: #000000;
    font-size: 12px;
    padding: 12.5px 30px 12.5px 20px;
    background: #fff;
    line-height: 14px;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    margin-right: 20px;
    padding-right: 71px;
    display: block;
    width: auto;
  }
  header .header-desktop button {
    left: 193px;
  }
  header .header-desktop__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .header-desktop__menu li {
    margin-right: 9px;
  }
  header .header-action {
    padding-right: 21px;
  }
  header .header-action li {
    margin-left: 10px;
  }
}
@media screen and (min-width: 1280px) {
  header .logo {
    margin-right: 30px;
  }
  header .header-action {
    padding-right: 21px;
  }
  header .header-action li {
    margin-left: 20px;
  }
  header .header-desktop__menu li {
    margin-right: 10px;
  }
  header .header-desktop__menu li p {
    font-size: 12px;
    font-weight: 500;
    color: #333333;
    line-height: 18px;
  }
  header .header-desktop__menu li p:hover {
    color: #EE2E24;
    font-weight: 600;
  }
  header .header-form input {
    margin-right: 10px;
    display: block;
    width: auto;
  }
  header .header-form button {
    position: revert;
  }
  header p {
    font-size: 12px;
    font-weight: 500;
    color: #333333;
    line-height: 18px;
    font-size: 14px;
  }
  header p:hover {
    color: #EE2E24;
    font-weight: 600;
  }
}
.category {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  margin-bottom: 30px;
  margin-top: 40px;
}
.category ul {
  display: flex;
  justify-content: space-between;
  display: grid;
  align-items: center;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.category ul a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  flex-direction: column;
}
.category ul a div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  width: 60px;
  height: 60px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.category ul a div:hover {
  background-color: #EE2E24;
}
.category ul a div:hover svg path {
  fill: #fff;
}
.category ul p {
  font-size: 10px;
  font-weight: 500;
  color: #333333;
  line-height: 14px;
  color: #000000;
}
.category ul p:hover {
  color: #EE2E24;
  font-weight: 600;
}
.category ul li:first-child div {
  background-color: #EE2E24;
}
.category ul li:first-child div svg path {
  fill: #fff;
}
.category ul li:first-child p {
  color: #EE2E24;
}
.category ul li:last-child p {
  color: #EE2E24;
}
@media only screen and (max-width: 400px) {
  .category ul {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .category ul p {
    padding: 0 10px;
  }
}
@media only screen and (min-width: 1280px) {
  .category ul {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0px;
  }
  .category ul li div {
    width: 80px;
    height: 80px;
  }
  .category ul p {
    font-size: 12px;
    font-weight: 500;
    color: #333333;
    line-height: 15px;
    padding: 0 25px;
  }
  .category ul p:hover {
    color: #EE2E24;
    font-weight: 600;
  }
  .category ul p:hover {
    font-weight: 600;
  }
}
.product {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  text-align: center;
}
.product img {
  max-width: 100%;
  width: 100%;
  height: auto;
  padding-top: 20px;
}
.product a {
  font-size: 12px;
  font-weight: 500;
  color: #333333;
  line-height: 18px;
  color: #000000;
}
.product a:hover {
  color: #EE2E24;
  font-weight: 600;
}
.product p {
  font-size: 12px;
  font-weight: 500;
  color: #333333;
  line-height: 18px;
  color: #EE2E24;
}
.product p:hover {
  color: #EE2E24;
  font-weight: 600;
}
.product h2 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
  border-bottom: 3px solid #EE2E24;
  display: inline-block;
  padding-bottom: 10px;
  margin: 0;
}
.product .product__detail {
  color: #EE2E24;
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  line-height: 17px;
  border: 1px solid #EE2E24;
  padding: 11.5px 30px;
  background: #fff;
  border-radius: 20px;
  margin: auto;
  margin: 20px 0;
  text-transform: uppercase;
}
.product .product__detail:hover {
  background: #EE2E24;
  color: #fff;
  border: 1px solid #fff;
}
.product span {
  border-top: 0.1px solid #F99B2A;
  display: block;
}
.product .product__list {
  margin-top: 23px;
}
.product .product__list .product__status {
  display: flex;
  justify-content: space-between;
  width: 27px;
  height: 27px;
  justify-content: center;
  align-items: center;
  background-color: #EE2E24;
  color: #fff;
  display: inline;
  text-transform: uppercase;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
}
.product .product__list .pre-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background: #F99B2A;
  display: inline-block;
  text-transform: uppercase;
  padding: 9px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .product__list {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
  }
}
@media only screen and (min-width: 1024px) {
  .product__list {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
  }
}
@media only screen and (min-width: 1280px) {
  .product .product__list {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
  }
  .product .product__list h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    color: #000000;
    border-bottom: 3px solid #EE2E24;
  }
  .product .product__list a {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    line-height: 20px;
  }
  .product .product__list a:hover {
    color: #EE2E24;
    font-weight: 600;
  }
  .product .product__list p {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    line-height: 20px;
    color: #EE2E24;
  }
  .product .product__list p:hover {
    color: #EE2E24;
    font-weight: 600;
  }
  .product .product__list .product__status,
  .product .product__list .pre-order {
    display: none;
  }
  .product.bestSeller {
    display: none;
  }
}
.services {
  background: #F4F4F4;
}
.services .services__inner {
  text-align: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
.services ul a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  flex-direction: column;
}
.services ul a div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  width: 60px;
  height: 60px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.services ul a div:hover {
  background-color: #EE2E24;
}
.services ul a div:hover svg path {
  fill: #fff;
}
.services ul a svg {
  width: 50%;
  height: 50%;
}
.services h2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
  border-bottom: 3px solid #EE2E24;
  display: inline-block;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.services .services__detail {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  line-height: 17px;
  border: 1px solid #fff;
  padding: 11.5px 30px;
  background: #EE2E24;
  border-radius: 20px;
  margin: auto;
  margin: 20px 0;
  text-transform: uppercase;
}
.services .services__detail:hover {
  background: #fff;
  color: #EE2E24;
  border: 1px solid #EE2E24;
}
.services .services__list {
  margin-top: 25px;
}
.services p {
  font-size: 10px;
  font-weight: 500;
  color: #333333;
  line-height: 14px;
  margin-top: 8px;
  padding: 0 5px;
}
.services p:hover {
  color: #EE2E24;
  font-weight: 600;
}
@media only screen and (min-width: 1280px) {
  .services__list p {
    font-size: 12px;
    font-weight: 500;
    color: #333333;
    line-height: 18px;
    font-size: 14px;
  }
  .services__list p:hover {
    color: #EE2E24;
    font-weight: 600;
  }
  .services {
    margin: auto;
  }
  .services .services__inner {
    max-width: 70%;
  }
  .services h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    color: #000000;
    border-bottom: 3px solid #EE2E24;
  }
  .services p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    padding: 0 20px;
  }
  .services ul li a div {
    width: 80px;
    height: 80px;
  }
  .services svg {
    width: 100%;
    height: 100%;
  }
}
.news {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  text-align: center;
  padding-bottom: 100px;
}
.news h2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #000000;
  border-bottom: 3px solid #EE2E24;
  display: inline-block;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.news span {
  border-top: 0.1px solid #F99B2A;
  display: block;
  margin-bottom: 20px;
}
.news .news__detail {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  line-height: 17px;
  border: 1px solid #fff;
  padding: 11.5px 30px;
  background: #EE2E24;
  border-radius: 20px;
  margin: auto;
  margin: 20px 0;
  text-transform: uppercase;
}
.news .news__detail:hover {
  background: #fff;
  color: #EE2E24;
  border: 1px solid #EE2E24;
}
.news img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
footer {
  background: #F4F4F4;
  position: relative;
}
.footer-top {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  background: #fff;
  border-radius: 20px;
  padding-top: 20px;
  margin: 0 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: -16%;
}
.footer-top .footer-top__title {
  display: none;
}
.footer-top .footer-top__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-top .footer-top__social li {
  padding-left: 10px;
}
.footer-top .footer-form {
  display: block;
}
.footer-top .footer-form input {
  color: #000000;
  font-size: 12px;
  padding: 12.5px 30px 12.5px 20px;
  background: #fff;
  line-height: 14px;
  border: 1px solid #E5E5E5;
  border-radius: 20px;
}
.footer-top .footer-form button {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  font-weight: 600;
  line-height: 17px;
  border: 1px solid #fff;
  padding: 11.5px 30px;
  background: #EE2E24;
  border-radius: 20px;
  margin: auto;
  margin: 20px 0;
  text-transform: uppercase;
}
.footer-top .footer-form button:hover {
  background: #fff;
  color: #EE2E24;
  border: 1px solid #EE2E24;
}
.footer-middle {
  text-align: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
.footer-middle .footer-title {
  padding-top: 100px;
  color: #EE2E24;
  font-style: italic;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}
.footer-middle .footer-title i {
  display: block;
  font-weight: 600;
}
.footer-middle .footer-address {
  text-align: left;
}
.footer-middle .footer-info .footer-address {
  font-size: 10px;
  font-weight: 500;
  color: #333333;
  line-height: 14px;
  display: inline-block;
}
.footer-middle .footer-info .footer-address:hover {
  color: #EE2E24;
  font-weight: 600;
}
.footer-middle .footer-info .footer-address :hover {
  color: unset;
}
.footer-middle .footer-info .footer-app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-top: 5px;
}
.footer-middle .footer-info .footer-app .footer-app__qr {
  margin-right: 10px;
}
.footer-middle .footer-info .footer-app .footer-app__moblie {
  display: inline-grid;
  margin-right: 20px;
}
.footer-bottom {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  padding-bottom: 150px;
  border-top: 1px solid #9A9A9C;
  padding-top: 21.5px;
}
.footer-bottom ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.footer-bottom li {
  border-right: 0.5px solid #9A9A9C;
  padding: 0 10px;
  margin-bottom: 10px;
}
.footer-bottom li:first-child,
.footer-bottom li:nth-child(5) {
  padding-left: 0;
}
.footer-bottom li:last-child {
  border: none;
}
.footer-bottom a,
.footer-bottom span {
  font-size: 10px;
  font-weight: 500;
  color: #333333;
  line-height: 14px;
}
.footer-bottom a:hover,
.footer-bottom span:hover {
  color: #EE2E24;
  font-weight: 600;
}
@media only screen and (max-width: 400px) {
  footer .footer-top {
    top: -10%;
  }
  footer .footer-title {
    margin-top: 10px;
  }
  footer .footer-middle {
    padding-top: 1px;
  }
  footer .footer-bottom {
    padding: ̀50px;
  }
  footer .footer-bottom ul {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    text-align: left;
    column-gap: 40px;
  }
  footer .footer-bottom li {
    padding: 0;
    border: none;
  }
  footer .logo,
  footer .footer-top__social {
    max-width: 100px;
  }
  footer .footer-form input {
    max-width: 100px;
  }
  footer .footer-form button {
    padding: 10px !important;
    font-size: 10px !important;
  }
}
@media only screen and (min-width: 768px) {
  footer .footer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  footer .footer-info p {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
    line-height: 20px;
  }
  footer .footer-info p:hover {
    color: #EE2E24;
    font-weight: 600;
  }
  footer .footer-info p:hover {
    color: inherit;
  }
  footer .footer-address {
    padding-right: 20px;
  }
  footer .footer-top {
    top: -10%;
    left: 0;
    right: 0;
    padding-top: 0;
  }
  footer .footer-top__social {
    margin-right: 10px;
  }
  footer .logo {
    display: flex;
  }
  footer .footer-middle .footer-title {
    padding-top: 50px;
  }
  footer .footer-bottom li:nth-child(5) {
    padding-left: 10px;
  }
  footer .footer-bottom a,
  footer .footer-bottom span {
    font-size: 12px;
    font-weight: 500;
    color: #333333;
    line-height: 18px;
  }
  footer .footer-bottom a:hover,
  footer .footer-bottom span:hover {
    color: #EE2E24;
    font-weight: 600;
  }
}
@media only screen and (min-width: 1024px) {
  .footer-title {
    margin-top: 40px;
    padding-top: 90px;
  }
}
@media only screen and (min-width: 1280px) {
  footer .footer-middle {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
  footer .footer-middle .footer-title {
    font-weight: 800;
    font-size: 18px;
    font-style: italic;
    line-height: 21.94px;
    padding-top: 120px;
  }
  footer .footer-info {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  footer .footer-info .footer-app .footer-app__moblie {
    order: 2;
  }
  footer .footer-info .footer-app li {
    margin-left: 10px;
    margin-right: 0;
  }
  footer .footer-info .footer-app .footer-app__moblie {
    margin-right: 0;
  }
  footer .footer-top {
    max-width: 1000px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    padding: 20px 0;
  }
  footer .footer-top .footer-top__social {
    order: 3;
    margin-right: 0;
  }
  footer .footer-top .footer-top__title {
    display: block;
    order: 0;
  }
  footer .footer-top .footer-top__title h2 {
    font-size: 18px;
    font-weight: 600;
    color: #EE2E24;
    line-height: 21.94px;
    margin-bottom: 5px;
  }
  footer .footer-top .footer-top__title span {
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
  }
  footer .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    padding: 10px;
  }
  footer .footer-address p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}
